h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 0;
}

.del-button {
  display: inline;
  margin-top: 10px;
  margin-left: 25px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  width: 50%;
}