h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 0;
}

.del-button {
  display: inline;
  margin-top: 10px;
  margin-left: 25px;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  width: 50%;
  margin-left: 10px;
}